<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
    </head>

    <body>
        {{>header}}
        <ul>
            <li>Lets do some arithmetic - Basic - 1 (<strong>Done</strong>)</li>
            <li>Read and Write to a file - Basic - 2</li>
            <li>Data migration - Intermediate - 1</li>
            <li>Document upload functionality - Intermediate - 2</li>
            <li>Intermediate 4 (Use Ecommerce series)</li>
            <li>Generate PDF - Intermediate - 5</li>
            <li>Ecommerce - 1 - Use Authentication</li>
            <li>Ecommerce - 2 - User email verification</li>
            <li>Ecommerce - 3 - Category and Product Management APIs</li>
            <li>Ecommerce - 4 - Homepage Display</li>
            <li>Use Case: Ecommerce - 5 - Profile Management</li>
            <li>Use Case: Ecommerce - 6 - Placing an order</li>
        </ul>
        {{>footer}}
    </body>
</html>