{{>page_top}}
    <form action="/create-product/add" id="product-form" method="post" class="form" enctype="multipart/form-data">
        <div class="input-row">
            <label class="input-row__label">Category Name</label>
            <select name="category_name" autocomplete="off" required>
                <option value="">Please Select</option>
            </select>
        </div>

        <div class="input-row">
            <label class="input-row__label">Product Name</label>
            <input type="text" name="product_name" placeholder="Product Name" autocomplete="off" required />
        </div>

        <div class="input-row">
            <label class="input-row__label">Availability</label>
            <select name="availability" autocomplete="off" required>
                <option value="">Please Select</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <div class="input-row">
            <label class="input-row__label">Price</label>
            <input type="text" name="price" placeholder="Price" autocomplete="off" required />
        </div>

        <div class="input-row">
            <label class="input-row__label">Inventory</label>
            <input type="text" name="inventory" placeholder="Inventory" autocomplete="off" required />
        </div>

        <div class="input-row">
            <label class="input-row__label">Product Image</label>
            <input type="file" name="product_image" placeholder="Product Image" autocomplete="off" required />
        </div>

        <div class="button-row">
            <button class="login-form_submit">Add Product</button>
        </div>
    </form>
{{>page_bottom}}