{{>page_top}}
    <form id="category-form" class="form">
        <div class="input-row">
            <label for="category_name" class="input-row__label">Category Name</label>
            <input type="text" name="category_name" placeholder="Category Name" autocomplete="off" required />
        </div>

        <div class="input-row">
            <label for="include_in_menu" class="input-row__label">Include In Menu</label>
            <select name="include_in_menu" autocomplete="off" required>
                <option value="">Please Select</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <div class="input-row">
            <label for="is_active" class="input-row__label">Is Active</label>
            <select name="is_active" autocomplete="off" required>
                <option value="">Please Select</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <div class="button-row">
            <button>Submit</button>
        </div>
    </form>
{{>page_bottom}}