{{>page_top}}
    <form id="login-form" class="form create-form">
        <div class="input-row">
            <label for="email" class="input-row__label">Email</label>
            <input type="email" name="email" placeholder="Email" autocomplete="off" required />
        </div>

        <div class="input-row">
            <label for="password" class="input-row__label">Password</label>
            <input type="password" name="password" placeholder="Password" autocomplete="off" required />
        </div>

        <div class="button-row">
            <button class="login-form_submit">Sign In</button>
        </div>
    </form>
{{>page_bottom}}